<mat-card
    routerLink="/Report/Details/{{ reportItem._id }}"
    class="h-25 d-inline-flex m-2"
    matRipple
>
    <div class="row h-100">
        <div class="col-md-4">
            <img
                mat-card-image
                [src]="reportItem.File.File"
                class="card-img"
                alt="Card image"
            />
        </div>
        <div class="col-md-8 h-100">
            <div class="h-75 overflow-hidden">
                <mat-card-header>
                    <mat-card-title>{{ reportItem.Caption }}</mat-card-title>
                    <mat-card-subtitle>
                        {{ reportItem.Author.User.FirstName }}
                        {{ reportItem.Author.User.LastName }} -
                        {{ reportItem.Date }} |
                        {{ reportItem.Location.Street1 }} -<mat-icon
                            fontIcon="location_on"
                        ></mat-icon>
                        {{ reportItem.Location.City }} -{{
                            reportItem.Location.Province
                        }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ reportItem.Body }}</p>
                </mat-card-content>
            </div>
            <mat-card-footer>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-chip-option
                            disabled
                            *ngFor="let category of reportItem.Categories"
                        >
                            {{ category }}
                        </mat-chip-option>
                    </div>
                    <div class="col-sm-4">
                        <div *ngIf="reportItem.Status === 'Under Review'">
                            <mat-icon
                                fontIcon="preview"
                                color="warn"
                            ></mat-icon>
                            Under Review
                        </div>
                        <div *ngIf="reportItem.Status === 'Pending'">
                            <mat-icon
                                fontIcon="pending"
                                color="accent"
                            ></mat-icon>
                            Pending
                        </div>
                        <div *ngIf="reportItem.Status === 'Approved'">
                            <mat-icon
                                fontIcon="check-circle"
                                color="primary"
                            ></mat-icon>
                            Approved
                        </div>
                    </div>
                </div>
            </mat-card-footer>
        </div>
    </div>
</mat-card>
