<mat-card class="p-2 mb-1 mt-1">
    <div>
        <mat-card-header>
            <mat-card-title>{{ evidenceItem?.Caption }}</mat-card-title>
            <mat-card-subtitle>
                {{ evidenceItem?.Author?.User?.FirstName }}
                {{ evidenceItem?.Author?.User?.LastName }} -
                {{ evidenceItem?.Date | date : "medium" }} |
                <mat-icon fontIcon="location_on"></mat-icon>
                {{ evidenceItem?.Location?.Street1 }} -
                {{ evidenceItem?.Location?.City }} -{{
                    evidenceItem?.Location?.Province
                }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ evidenceItem?.Body }}</p>
        </mat-card-content>
    </div>
    <mat-card-footer>
        <div class="row">
            <div class="col-sm-6">
                <p>{{ evidenceItem?.Location?.No }}</p>
                <p>
                    {{ evidenceItem?.Location?.Street1 }},
                    {{ evidenceItem?.Location?.Street2 }}
                </p>
                <p>{{ evidenceItem?.Location?.Street3 }}</p>
                <p>
                    {{ evidenceItem?.Location?.City }},
                    {{ evidenceItem?.Location?.Province }}
                </p>
            </div>
            <div class="col-sm-4">
                <label class="fs-6">Moderated By:</label
                ><label
                    class="fs-6"
                    for="moderator"
                    *ngIf="evidenceItem?.Moderator"
                >
                    {{ evidenceItem?.Moderator?.User?.FirstName }}
                    {{ evidenceItem?.Moderator?.User?.LastName }}</label
                >
                <div>
                    <mat-chip-listbox aria-label="Fish selection">
                        <mat-chip-option
                            [disabled]="
                                !currentUser?.User?.Account?.IsModerator
                            "
                            color=""
                            [selected]="evidenceItem?.Status === 'Under Review'"
                            (click)="Review()"
                            >Review
                        </mat-chip-option>
                        <mat-chip-option
                            color="primary"
                            [disabled]="
                                !currentUser?.User?.Account?.IsModerator
                            "
                            [selected]="evidenceItem?.Status === 'Approved'"
                            (click)="Approve()"
                            >Approve
                        </mat-chip-option>
                        <mat-chip-option
                            color="warn"
                            [disabled]="
                                !currentUser?.User?.Account?.IsModerator
                            "
                            [selected]="evidenceItem?.Status === 'Declined'"
                            (click)="Declined()"
                            >Decline
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            </div>
        </div>
    </mat-card-footer>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> See Photos </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card-content *ngFor="let file of evidenceItem?.Files">
                <img
                    [src]="file.File"
                    style="object-fit: cover; width: 100%; height: 100%"
                />
            </mat-card-content>
        </mat-expansion-panel>
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
        </mat-expansion-panel
    ></mat-accordion>
</mat-card>
