<div class="row h-100 p-2 report-details overflow-hidden">
    <div
        class="info d-flex align-items-center justify-content-center"
        *ngIf="infoLoading"
    >
        <mat-spinner></mat-spinner>
    </div>
    <div class="col info">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>{{ reportDetails?.Caption }}</mat-card-title>
                <mat-card-subtitle>
                    {{ reportDetails?.Author?.User?.FirstName }}
                    {{ reportDetails?.Author?.User?.LastName }} -
                    {{ reportDetails?.Date | date: 'dd/MM/yyyy' }}</mat-card-subtitle
                >
            </mat-card-title-group>
            <mat-card-content>
                <img
                    class="rounded"
                    style="width: 100%"
                    [src]="reportDetails?.File?.File"
                />
            </mat-card-content>
            <hr />
            <mat-card-footer>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>{{ reportDetails?.Location?.No }}</p>
                            <p>
                                {{ reportDetails?.Location?.Street1 }},
                                {{ reportDetails?.Location?.Street2 }}
                            </p>
                            <p>{{ reportDetails?.Location?.Street3 }}</p>
                            <p>
                                {{ reportDetails?.Location?.City }},
                                {{ reportDetails?.Location?.Province }}
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <label class="fs-6">Moderated By:</label
                            ><label
                                class="fs-6"
                                for="moderator"
                                *ngIf="reportDetails?.Moderator"
                            >
                                {{ reportDetails?.Moderator?.User?.FirstName }}
                                {{
                                    reportDetails?.Moderator?.User?.LastName
                                }}</label
                            >
                            <div>
                                <mat-chip-listbox aria-label="Fish selection">
                                    <mat-chip-option
                                        [disabled]="
                                            !currentUser?.User?.Account
                                                ?.IsModerator
                                        "
                                        color=""
                                        [selected]="
                                            reportDetails?.Status ===
                                            'Under Review'
                                        "
                                        (click)="Review()"
                                        >Review
                                    </mat-chip-option>
                                    <mat-chip-option
                                        color="primary"
                                        [disabled]="
                                            !currentUser?.User?.Account
                                                ?.IsModerator
                                        "
                                        [selected]="
                                            reportDetails?.Status === 'Approved'
                                        "
                                        (click)="Approve()"
                                        >Approve
                                    </mat-chip-option>
                                    <mat-chip-option
                                        color="warn"
                                        [disabled]="
                                            !currentUser?.User?.Account
                                                ?.IsModerator
                                        "
                                        [selected]="
                                            reportDetails?.Status === 'Declined'
                                        "
                                        (click)="Declined()"
                                        >Decline
                                    </mat-chip-option>
                                </mat-chip-listbox>
                                <div>
                                    <mat-form-field
                                        class="full-width"
                                        appearance="outline"
                                    >
                                        <mat-label>Body</mat-label>
                                        <textarea
                                            matInput
                                            placeholder="Ex. It makes me feel..."
                                            name="body"
                                            required
                                        ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <hr />
                <mat-card-content>
                    <p>{{ reportDetails?.Body }}</p>
                </mat-card-content>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col info overflow-auto">
        <mat-accordion>
            <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title> + Add New Evidence </mat-panel-title>
                </mat-expansion-panel-header>
                <app-evidence-create-item
                    (onSubmit)="onSubmit($event)"
                ></app-evidence-create-item>
            </mat-expansion-panel>
        </mat-accordion>
        <app-report-evidence-item
            *ngFor="let evidence of reportDetails?.Evidences"
            [evidenceItem]="evidence"
        ></app-report-evidence-item>
    </div>
</div>
