<div class="row h-100 p-2 report-details overflow-hidden">
    <div
        class="info d-flex align-items-center justify-content-center"
        *ngIf="infoLoading"
    >
        <mat-spinner></mat-spinner>
    </div>
    <div class="col info">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title
                    >{{ reportDetails?.Caption }}
                    <button
                        *ngIf="currentUser"
                        mat-icon-button
                        [color]="currentUserStared ? 'accent' : 'grey'"
                        aria-label="Delete report"
                        (click)="onStarClicked()"
                    >
                        <mat-icon>star</mat-icon>
                    </button>
                </mat-card-title>
                <mat-card-subtitle>
                    {{ reportDetails?.Author?.User?.FirstName }}
                    {{ reportDetails?.Author?.User?.LastName }} -
                    {{
                        reportDetails?.Date | date : "medium"
                    }}</mat-card-subtitle
                >
            </mat-card-title-group>
            <mat-card-content>
                <img
                    class="rounded"
                    [src]="reportDetails?.File?.File"
                    style="object-fit: cover; width: 100%; height: 100%"
                />
            </mat-card-content>
            <hr />
            <mat-card-footer>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>{{ reportDetails?.Location?.No }}</p>
                            <p>
                                {{ reportDetails?.Location?.Street1 }},
                                {{ reportDetails?.Location?.Street2 }}
                            </p>
                            <p>{{ reportDetails?.Location?.Street3 }}</p>
                            <p>
                                {{ reportDetails?.Location?.City }},
                                {{ reportDetails?.Location?.Province }}
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <label class="fs-6">Moderated By:</label
                            ><label
                                class="fs-6"
                                for="moderator"
                                *ngIf="reportDetails?.Moderator"
                            >
                                {{ reportDetails?.Moderator?.User?.FirstName }}
                                {{
                                    reportDetails?.Moderator?.User?.LastName
                                }}</label
                            >
                            <div>
                                <mat-chip-listbox
                                    aria-label="moderator options"
                                >
                                    <mat-chip-option
                                        [disabled]="
                                            !currentUser?.User?.Account
                                                ?.IsModerator
                                        "
                                        color=""
                                        [selected]="
                                            reportDetails?.Status ===
                                            'Under Review'
                                        "
                                        (click)="Review()"
                                        >Review
                                    </mat-chip-option>
                                    <mat-chip-option
                                        color="primary"
                                        [disabled]="
                                            !currentUser?.User?.Account
                                                ?.IsModerator
                                        "
                                        [selected]="
                                            reportDetails?.Status === 'Approved'
                                        "
                                        (click)="Approve()"
                                        >Approve
                                    </mat-chip-option>
                                    <mat-chip-option
                                        color="warn"
                                        [disabled]="
                                            !currentUser?.User?.Account
                                                ?.IsModerator
                                        "
                                        [selected]="
                                            reportDetails?.Status === 'Declined'
                                        "
                                        (click)="Declined()"
                                        >Decline
                                    </mat-chip-option>
                                </mat-chip-listbox>
                            </div>
                        </div>
                        <div class="col-1" *ngIf="currentUserIsAuthor">
                            <button
                                mat-fab
                                color="primary"
                                aria-label="Edit report"
                                (click)="onDeleteClicked()"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button
                                mat-fab
                                color="warn"
                                aria-label="Delete report"
                                (click)="onDeleteClicked()"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
                <hr />
                <mat-card-content>
                    <p>{{ reportDetails?.Body }}</p>
                </mat-card-content>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col info overflow-auto">
        <button
            *ngIf="!currentUser"
            mat-raised-button
            color="primary"
            type="submit"
            class="full-width"
            (click)="onSigninClicked()"
        >
            Signin To Post Evidences
        </button>
        <mat-accordion *ngIf="currentUser">
            <mat-expansion-panel [(expanded)]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title> + Add New Evidence </mat-panel-title>
                </mat-expansion-panel-header>
                <app-evidence-create-item
                    (onSubmit)="onSubmit($event)"
                ></app-evidence-create-item>
            </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="reportDetails?.Evidences">
            <app-report-evidence-item
                *ngFor="let evidence of reportDetails?.Evidences"
                [evidenceItem]="evidence"
            ></app-report-evidence-item>
        </div>
    </div>
</div>
